.footer{
  padding:5px;
  width:100%;
  background-color: #003262;
  display:block;
  position:absolute;
  bottom:0;
  text-align: center;
}
.footer .contact-us{
  font-family: 'Open-Sans', sans-serif;
  color: #fffafa;
  font-weight: 300;
  font-size:18px;
  display:inline;
}
.footer .email{
  margin-left:10px;
  font-family: 'Roboto', sans-serif;
  color: #FDB515;
  font-weight: 300;
  font-style:italic;
  text-decoration: underline;
  font-size:18px;
  display:inline;
}
